global
    log stdout format raw local0
    stats socket /ha/haproxy.sock mode 660 level admin

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout check 2s

frontend postgres_rw
    bind :5432
    default_backend pg_nodes

backend pg_nodes
    option tcp-check
    default-server inter 2s rise 2 fall 3
    server primary postgres-primary:5432 check
    server replica postgres-replica:5432 check backup
